.container{
  padding-top: 20px;
  width: 500px;
}

#box1 {
  width: 100%;
}

.ice{
  position: relative;
  left: 50px;
  margin-bottom: -50px;
}

.fa-user{
  position: relative;
  top: 5px;
  padding-right: 5px;
}

.fa-lock{
  position: relative;
  top: 5px;
  padding-left: 10px;
}

.fa-check-circle-o{
  position: relative;
  top: 5px;
  padding-left: 10px;
}

#id{
  display: inline-block;
  width: 80%;
}

#go{
  position: relative;
  border-radius: 2px;
  width: 150px;
  left: 250px;
  top: 36px;
}

.info {
  width: 100%;
  background-color: #000000;
  color: white;
  opacity: 0.6;
  display: none;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -10px;
}

#items{
  position: relative;
  left: 116px;
  top: 40px;
  display: none;
}

.sprite {
    background-image: url(http://fs5.directupload.net/images/160422/rbeueten.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ice1 {
    width: 305px;
    height: 289px;
    background-position: -5px -5px;
}

.sprite-ice10 {
    width: 305px;
    height: 289px;
    background-position: -320px -5px;
}

.sprite-ice11 {
    width: 305px;
    height: 289px;
    background-position: -635px -5px;
}

.sprite-ice12 {
    width: 305px;
    height: 289px;
    background-position: -5px -304px;
}

.sprite-ice13 {
    width: 305px;
    height: 289px;
    background-position: -320px -304px;
}

.sprite-ice14 {
    width: 305px;
    height: 289px;
    background-position: -635px -304px;
}

.sprite-ice15 {
    width: 305px;
    height: 289px;
    background-position: -5px -603px;
}

.sprite-ice2 {
    width: 305px;
    height: 289px;
    background-position: -320px -603px;
}

.sprite-ice3 {
    width: 305px;
    height: 289px;
    background-position: -635px -603px;
}

.sprite-ice4 {
    width: 305px;
    height: 289px;
    background-position: -950px -5px;
}

.sprite-ice5 {
    width: 305px;
    height: 289px;
    background-position: -950px -304px;
}

.sprite-ice6 {
    width: 305px;
    height: 289px;
    background-position: -950px -603px;
}

.sprite-ice7 {
    width: 305px;
    height: 289px;
    background-position: -5px -902px;
}

.sprite-ice8 {
    width: 305px;
    height: 289px;
    background-position: -320px -902px;
}

.sprite-ice9 {
    width: 305px;
    height: 289px;
    background-position: -635px -902px;
}

.sprite-item {
    background-image: url(http://fs5.directupload.net/images/160422/ytaqlg76.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-item-item1 {
    width: 79px;
    height: 59px;
    background-position: -5px -5px;
}

.sprite-item-item10 {
    width: 79px;
    height: 59px;
    background-position: -94px -5px;
}

.sprite-item-item100 {
    width: 79px;
    height: 59px;
    background-position: -183px -5px;
}

.sprite-item-item11 {
    width: 79px;
    height: 59px;
    background-position: -272px -5px;
}

.sprite-item-item12 {
    width: 79px;
    height: 59px;
    background-position: -361px -5px;
}

.sprite-item-item13 {
    width: 79px;
    height: 59px;
    background-position: -450px -5px;
}

.sprite-item-item14 {
    width: 79px;
    height: 59px;
    background-position: -539px -5px;
}

.sprite-item-item15 {
    width: 79px;
    height: 59px;
    background-position: -628px -5px;
}

.sprite-item-item16 {
    width: 79px;
    height: 59px;
    background-position: -5px -74px;
}

.sprite-item-item17 {
    width: 79px;
    height: 59px;
    background-position: -94px -74px;
}

.sprite-item-item18 {
    width: 79px;
    height: 59px;
    background-position: -183px -74px;
}

.sprite-item-item19 {
    width: 79px;
    height: 59px;
    background-position: -272px -74px;
}

.sprite-item-item2 {
    width: 79px;
    height: 59px;
    background-position: -361px -74px;
}

.sprite-item-item20 {
    width: 79px;
    height: 59px;
    background-position: -450px -74px;
}

.sprite-item-item21 {
    width: 79px;
    height: 59px;
    background-position: -539px -74px;
}

.sprite-item-item22 {
    width: 79px;
    height: 59px;
    background-position: -628px -74px;
}

.sprite-item-item23 {
    width: 79px;
    height: 59px;
    background-position: -5px -143px;
}

.sprite-item-item24 {
    width: 79px;
    height: 59px;
    background-position: -94px -143px;
}

.sprite-item-item25 {
    width: 79px;
    height: 59px;
    background-position: -183px -143px;
}

.sprite-item-item26 {
    width: 79px;
    height: 59px;
    background-position: -272px -143px;
}

.sprite-item-item27 {
    width: 79px;
    height: 59px;
    background-position: -361px -143px;
}

.sprite-item-item28 {
    width: 79px;
    height: 59px;
    background-position: -450px -143px;
}

.sprite-item-item29 {
    width: 79px;
    height: 59px;
    background-position: -539px -143px;
}

.sprite-item-item3 {
    width: 79px;
    height: 59px;
    background-position: -628px -143px;
}

.sprite-item-item30 {
    width: 79px;
    height: 59px;
    background-position: -5px -212px;
}

.sprite-item-item31 {
    width: 79px;
    height: 59px;
    background-position: -94px -212px;
}

.sprite-item-item32 {
    width: 79px;
    height: 59px;
    background-position: -183px -212px;
}

.sprite-item-item33 {
    width: 79px;
    height: 59px;
    background-position: -272px -212px;
}

.sprite-item-item34 {
    width: 79px;
    height: 59px;
    background-position: -361px -212px;
}

.sprite-item-item35 {
    width: 79px;
    height: 59px;
    background-position: -450px -212px;
}

.sprite-item-item36 {
    width: 79px;
    height: 59px;
    background-position: -539px -212px;
}

.sprite-item-item37 {
    width: 79px;
    height: 59px;
    background-position: -628px -212px;
}

.sprite-item-item38 {
    width: 79px;
    height: 59px;
    background-position: -5px -281px;
}

.sprite-item-item39 {
    width: 79px;
    height: 59px;
    background-position: -94px -281px;
}

.sprite-item-item4 {
    width: 79px;
    height: 59px;
    background-position: -183px -281px;
}

.sprite-item-item40 {
    width: 79px;
    height: 59px;
    background-position: -272px -281px;
}

.sprite-item-item41 {
    width: 79px;
    height: 59px;
    background-position: -361px -281px;
}

.sprite-item-item42 {
    width: 79px;
    height: 59px;
    background-position: -450px -281px;
}

.sprite-item-item43 {
    width: 79px;
    height: 59px;
    background-position: -539px -281px;
}

.sprite-item-item44 {
    width: 79px;
    height: 59px;
    background-position: -628px -281px;
}

.sprite-item-item45 {
    width: 79px;
    height: 59px;
    background-position: -5px -350px;
}

.sprite-item-item46 {
    width: 79px;
    height: 59px;
    background-position: -94px -350px;
}

.sprite-item-item47 {
    width: 79px;
    height: 59px;
    background-position: -183px -350px;
}

.sprite-item-item48 {
    width: 79px;
    height: 59px;
    background-position: -272px -350px;
}

.sprite-item-item49 {
    width: 79px;
    height: 59px;
    background-position: -361px -350px;
}

.sprite-item-item5 {
    width: 79px;
    height: 59px;
    background-position: -450px -350px;
}

.sprite-item-item50 {
    width: 79px;
    height: 59px;
    background-position: -539px -350px;
}

.sprite-item-item51 {
    width: 79px;
    height: 59px;
    background-position: -628px -350px;
}

.sprite-item-item52 {
    width: 79px;
    height: 59px;
    background-position: -5px -419px;
}

.sprite-item-item53 {
    width: 79px;
    height: 59px;
    background-position: -94px -419px;
}

.sprite-item-item54 {
    width: 79px;
    height: 59px;
    background-position: -183px -419px;
}

.sprite-item-item55 {
    width: 79px;
    height: 59px;
    background-position: -272px -419px;
}

.sprite-item-item56 {
    width: 79px;
    height: 59px;
    background-position: -361px -419px;
}

.sprite-item-item57 {
    width: 79px;
    height: 59px;
    background-position: -450px -419px;
}

.sprite-item-item58 {
    width: 79px;
    height: 59px;
    background-position: -539px -419px;
}

.sprite-item-item59 {
    width: 79px;
    height: 59px;
    background-position: -628px -419px;
}

.sprite-item-item6 {
    width: 79px;
    height: 59px;
    background-position: -5px -488px;
}

.sprite-item-item60 {
    width: 79px;
    height: 59px;
    background-position: -94px -488px;
}

.sprite-item-item62 {
    width: 79px;
    height: 59px;
    background-position: -183px -488px;
}

.sprite-item-item63 {
    width: 79px;
    height: 59px;
    background-position: -272px -488px;
}

.sprite-item-item64 {
    width: 79px;
    height: 59px;
    background-position: -361px -488px;
}

.sprite-item-item65 {
    width: 79px;
    height: 59px;
    background-position: -450px -488px;
}

.sprite-item-item66 {
    width: 79px;
    height: 59px;
    background-position: -539px -488px;
}

.sprite-item-item67 {
    width: 79px;
    height: 59px;
    background-position: -628px -488px;
}

.sprite-item-item68 {
    width: 79px;
    height: 59px;
    background-position: -5px -557px;
}

.sprite-item-item69 {
    width: 79px;
    height: 59px;
    background-position: -94px -557px;
}

.sprite-item-item7 {
    width: 79px;
    height: 59px;
    background-position: -183px -557px;
}

.sprite-item-item70 {
    width: 79px;
    height: 59px;
    background-position: -272px -557px;
}

.sprite-item-item71 {
    width: 79px;
    height: 59px;
    background-position: -361px -557px;
}

.sprite-item-item72 {
    width: 79px;
    height: 59px;
    background-position: -450px -557px;
}

.sprite-item-item73 {
    width: 79px;
    height: 59px;
    background-position: -539px -557px;
}

.sprite-item-item74 {
    width: 79px;
    height: 59px;
    background-position: -628px -557px;
}

.sprite-item-item75 {
    width: 79px;
    height: 59px;
    background-position: -5px -626px;
}

.sprite-item-item76 {
    width: 79px;
    height: 59px;
    background-position: -94px -626px;
}

.sprite-item-item77 {
    width: 79px;
    height: 59px;
    background-position: -183px -626px;
}

.sprite-item-item78 {
    width: 79px;
    height: 59px;
    background-position: -272px -626px;
}

.sprite-item-item79 {
    width: 79px;
    height: 59px;
    background-position: -361px -626px;
}

.sprite-item-item8 {
    width: 79px;
    height: 59px;
    background-position: -450px -626px;
}

.sprite-item-item80 {
    width: 79px;
    height: 59px;
    background-position: -539px -626px;
}

.sprite-item-item81 {
    width: 79px;
    height: 59px;
    background-position: -628px -626px;
}

.sprite-item-item82 {
    width: 79px;
    height: 59px;
    background-position: -5px -695px;
}

.sprite-item-item83 {
    width: 79px;
    height: 59px;
    background-position: -94px -695px;
}

.sprite-item-item84 {
    width: 79px;
    height: 59px;
    background-position: -183px -695px;
}

.sprite-item-item85 {
    width: 79px;
    height: 59px;
    background-position: -272px -695px;
}

.sprite-item-item86 {
    width: 79px;
    height: 59px;
    background-position: -361px -695px;
}

.sprite-item-item87 {
    width: 79px;
    height: 59px;
    background-position: -450px -695px;
}

.sprite-item-item88 {
    width: 79px;
    height: 59px;
    background-position: -539px -695px;
}

.sprite-item-item89 {
    width: 79px;
    height: 59px;
    background-position: -628px -695px;
}

.sprite-item-item9 {
    width: 79px;
    height: 59px;
    background-position: -717px -5px;
}

.sprite-item-item90 {
    width: 79px;
    height: 59px;
    background-position: -717px -74px;
}

.sprite-item-item91 {
    width: 79px;
    height: 59px;
    background-position: -717px -143px;
}

.sprite-item-item92 {
    width: 79px;
    height: 59px;
    background-position: -717px -212px;
}

.sprite-item-item93 {
    width: 79px;
    height: 59px;
    background-position: -717px -281px;
}

.sprite-item-item94 {
    width: 79px;
    height: 59px;
    background-position: -717px -350px;
}

.sprite-item-item95 {
    width: 79px;
    height: 59px;
    background-position: -717px -419px;
}

.sprite-item-item96 {
    width: 79px;
    height: 59px;
    background-position: -717px -488px;
}

.sprite-item-item97 {
    width: 79px;
    height: 59px;
    background-position: -717px -557px;
}

.sprite-item-item98 {
    width: 79px;
    height: 59px;
    background-position: -717px -626px;
}

.sprite-item-item99 {
    width: 79px;
    height: 59px;
    background-position: -717px -695px;
}

.got{
  display: inline-block;
}