.breadcrumb>.active{
  color: #611b25;
}

#des{
  color: #ff4444;
}

#ene{
  color: #4488ff;
}

.sprite-common {
    background-image: url(../../img/imgElesis/elesis_common_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-common-skill01 {
    width: 114px;
    height: 83px;
    background-position: -5px -5px;
}

.sprite-common-skill02 {
    width: 114px;
    height: 83px;
    background-position: -129px -5px;
}

.sprite-common-skill03 {
    width: 114px;
    height: 82px;
    background-position: -5px -98px;
}

.sprite-common-skill04 {
    width: 114px;
    height: 82px;
    background-position: -129px -98px;
}

.sprite-common-skill05 {
    width: 114px;
    height: 83px;
    background-position: -5px -190px;
}

.sprite-common-skill09 {
    width: 114px;
    height: 83px;
    background-position: -129px -190px;
}

.sprite-common-skill10 {
    width: 115px;
    height: 83px;
    background-position: -253px -5px;
}

/*brach click and love*/
.sprite-global {
    background-image: url(../../img/global_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-global-branch {
    width: 57px;
    height: 42px;
    background-position: -5px -5px;
}

.sprite-global-branch_click {
    width: 58px;
    height: 41px;
    background-position: -72px -5px;
}

.sprite-global-love {
    width: 115px;
    height: 85px;
    background-position: -140px -5px;
}
/*
body:after{
  content: url(http://i3.tietuku.com/c557e7351a4cd0aa.png);
  display: none;
}

.sprite-cutin {
    background-image: url(http://i3.tietuku.com/c557e7351a4cd0aa.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cutin-cutin1 {
    width: 512px;
    height: 512px;
    background-position: -5px -5px;
}

.sprite-cutin-cutin10 {
    width: 512px;
    height: 512px;
    background-position: -527px -5px;
}

.sprite-cutin-cutin11 {
    width: 512px;
    height: 512px;
    background-position: -1049px -5px;
}

.sprite-cutin-cutin12 {
    width: 512px;
    height: 512px;
    background-position: -5px -527px;
}

.sprite-cutin-cutin13 {
    width: 512px;
    height: 512px;
    background-position: -527px -527px;
}

.sprite-cutin-cutin2 {
    width: 512px;
    height: 512px;
    background-position: -1049px -527px;
}

.sprite-cutin-cutin3 {
    width: 512px;
    height: 512px;
    background-position: -5px -1049px;
}

.sprite-cutin-cutin4 {
    width: 512px;
    height: 512px;
    background-position: -527px -1049px;
}

.sprite-cutin-cutin5 {
    width: 512px;
    height: 512px;
    background-position: -1049px -1049px;
}

.sprite-cutin-cutin6 {
    width: 512px;
    height: 512px;
    background-position: -1571px -5px;
}

.sprite-cutin-cutin7 {
    width: 512px;
    height: 512px;
    background-position: -1571px -527px;
}

.sprite-cutin-cutin8 {
    width: 512px;
    height: 512px;
    background-position: -1571px -1049px;
}

.sprite-cutin-cutin9 {
    width: 512px;
    height: 512px;
    background-position: -5px -1571px;
}*/