.sprite {
    background-image: url(../../img/imgLuCiel/imgNB/nb_skills_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-skill08 {
    width: 114px;
    height: 83px;
    background-position: -5px -5px;
}

.sprite-skill09 {
    width: 114px;
    height: 83px;
    background-position: -129px -5px;
}

.sprite-skill10 {
    width: 114px;
    height: 85px;
    background-position: -253px -5px;
}

.sprite-skill13 {
    width: 114px;
    height: 82px;
    background-position: -5px -100px;
}

.sprite-skill14 {
    width: 114px;
    height: 83px;
    background-position: -129px -100px;
}

.sprite-skill15 {
    width: 115px;
    height: 83px;
    background-position: -253px -100px;
}

.sprite-skill16 {
    width: 114px;
    height: 83px;
    background-position: -5px -193px;
}

.sprite-skill17 {
    width: 114px;
    height: 83px;
    background-position: -129px -193px;
}

.sprite-skill18 {
    width: 114px;
    height: 83px;
    background-position: -253px -193px;
}

.sprite-skill19 {
    width: 114px;
    height: 85px;
    background-position: -5px -286px;
}

.sprite-skill20 {
    width: 114px;
    height: 82px;
    background-position: -129px -286px;
}

.sprite-skill21 {
    width: 114px;
    height: 84px;
    background-position: -253px -286px;
}

.sprite-skill22 {
    width: 114px;
    height: 82px;
    background-position: -129px -380px;
}

.sprite-skill23 {
    width: 115px;
    height: 82px;
    background-position: -253px -380px;
}

.sprite-skill24 {
    width: 114px;
    height: 83px;
    background-position: -377px -5px;
}

.sprite-skill25 {
    width: 114px;
    height: 82px;
    background-position: -378px -98px;
}

.sprite-skill26 {
    width: 114px;
    height: 84px;
    background-position: -378px -190px;
}

.sprite-skill27 {
    width: 115px;
    height: 84px;
    background-position: -377px -284px;
}

.sprite-skill28 {
    width: 114px;
    height: 85px;
    background-position: -378px -378px;
}
