.breadcrumb>.active{
  color: #ada560;
}

#overh{
  color: #ff4444;
}

#ecp{
  color: #4488ff;
}

#zi{
    color: #d4b5ff;
}

#g{
    color: #03e403;
}

#rg{
    color: #c52121;
}

#yg{
    color: #e4a520;
}

#gg{
    color: #96c30b;
}

#bg{
    color: #16d0ff;
}

.sprite-common {
    background-image: url(../../img/imgRose/rose_common_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.omdata,.stdata,.crdata,.fydata {
    float: right;
    margin: -57px 0 0 0;
    width: 210.9px;222
    height: 112.1px;118
}

.sprite-common-skill01 {
    width: 115px;
    height: 85px;
    background-position: -5px -5px;
}

.sprite-common-skill02 {
    width: 115px;
    height: 85px;
    background-position: -127px -5px;
}

.sprite-common-skill03 {
    width: 115px;
    height: 85px;
    background-position: -250px -5px;
}

.sprite-common-skill04 {
    width: 115px;
    height: 85px;
    background-position: -5px -96px;
}

.sprite-common-skill05 {
    width: 115px;
    height: 85px;
    background-position: -127px -96px;
}

.sprite-common-skill06 {
    width: 115px;
    height: 85px;
    background-position: -250px -96px;
}

.sprite-common-skill10 {
    width: 115px;
    height: 85px;
    background-position: -5px -189px;
}

.sprite-common-skill11 {
    width: 115px;
    height: 85px;
    background-position: -127px -189px;
}

/*brach click and love*/
.sprite-global {
    background-image: url(../../img/global_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-global-branch {
    width: 57px;
    height: 42px;
    background-position: -5px -5px;
}

.sprite-global-branch_click {
    width: 58px;
    height: 41px;
    background-position: -72px -5px;
}

.sprite-global-love {
    width: 115px;
    height: 85px;
    background-position: -140px -5px;
}

body:after{
  content: url(http://i11.tietuku.com/a8c24d41a3e1161e.png);
  display: none;
}